@import url('https://fonts.googleapis.com/css2?family=Outfit&family=Space+Grotesk:wght@400;500&display=swap');

$im: !important;

:root{
 --cy: hsla(178,100%,50%,1);
 --s-bl: hsla(215,50%,70%,1);
 --main-bg: hsla(217,54%,11%,1);
 --card-bg: hsla(216,50%,16%,1);
 --line-bg: hsla(215,32%,27%,1);
 --wt: #fff;
 --ts: transparent;
 --trans: all 200ms ease;
 --cn: center;
 --rad: 10px; 
 --fts: 15.899px;
 --st-w: 100%;
 --mx-w: 1440px;
 --st-h: 100vh;
 
 --bd: 1px solid;
}

/* layout flex */
.fx{
 display:  flex;
 &-row{
  flex-flow: row;
  justify-content: space-evenly;
  align-content: var(--cn);
 }
 &-col{
  flex-flow: column;
  justify-content: space-evenly;
  align-content: var(--cn);
 }
 &-around{
  justify-content: space-around $im;
 }
 &-btw{
  justify-content: space-between $im;
 }
 &-self{
  align-self: var(--cn);
 }
}

/* utility classes */
.trans{
 transition: var(--trans);
 &:hover,&:active,&:before,&:after{
  @extend .trans
 }
}
.hide{
 display: none;
}
.bg-col{
 &-mn{
  background-color: var(--main-bg);
 }
 &-card{
  background-color: var(--card-bg);
 }
 &-line{
  background-color: var(--line-bg);
 }
}

.hover\:col-cy:hover{
 color: var(--cy);
}
.tx-cn{
 text-align: var(--cn);
}

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 border: none;
 outline: none;
 font:{
  family: "Outfit", sans-serif;
  style: normal;
 }
 //border: var(--bd);
}

html{
 width: var(--st-w);
 min-height: var(--st-h);
 scroll-behavior: smooth;
 font-size: var(--fts);
 overflow: auto;
 body{
  min-height: inherit;
 }
}

h1{
  color: var(--wt);
  font-size: 1.2rem;
 }
 h2{
  color: var(--cy);
  font-size: 1rem;
 }
 p,span,i,a{
  color: var(--s-bl);
  line-height: 1.4;
 }
 
.card{
 width: 21.385rem;
 height: 34.613rem;
 border-radius: calc(var(--rad)*1.2);
 padding: 1%;
 box-shadow: 0 var(--rad) calc(var(--rad)*1.5) var(--rad) rgba(0,0,0,0.1);
 &__img{
  height: 55%;
  background: var(--ts) url("/images/image-equilibrium.jpg") no-repeat border-box center/cover;
  border-radius: inherit;
  position: relative;
  &:before{
   display: block;
   content: "";
   width: 100%;
   height: 100%;
   background: var(--cy) url("/images/icon-view.svg") no-repeat border-box var(--cn)/ 20% 20%;
   opacity: 0;
   border-radius: inherit;
   position: absolute;
  }
  &:hover:before{ opacity: 0.7;}
 }
 &__desc{
  height: 28%;
  img{
   vertical-align: -10%;
   margin-inline: 3px;
  }
 }
 &__person{
  i{
  color: var(--wt);
  }
  img{
   height: 40px; width:40px; border: 2px solid var(--ts); outline: 2px solid var(--wt); border-radius: calc(var(--st-w)/2);
  }
 }
 
}
hr{
 border-radius: var(--rad);
 height: 2px;
}
.theme{
 height: calc(var(--fts)*1.5);
 width: calc(var(--fts)*4);
 margin: var(--fts);
 border-radius: var(--fts);
 border: 2px solid var(--s-bl);
 div{
  width: 20px;
  height: 20px;
  border-radius: var(--st-w);
  background-color: var(--s-bl);
 }
 &.mv{
  border-color: var(--bk);
  div{
   background-color: var(--custom);
   transform: translateX(198%);
  }
 }
}


 #mode{
  --custom: hsla(155,74%,64%,1);
  --bk: hsla(155, 5%, 18%, 1);
  background-color: var(--wt);
  *{
   color: var(--bk);
   outline-color: var(--bk);
  }
  .card{
     background-color: var(--custom);
     box-shadow: 0 var(--fts) calc(var(--rad)*1.2) var(--rad) hsla(155,74%,64%,0.2);
     &__img:hover:before{
      background-color: hsla(155, 5%, 18%, 0.8);
     }
  }
  
hr{
 background-color: var(--bk);
}
 }


@media (max-width: 500px){
 html{
  width: var(--st-w);
 }
}
